{% extends 'header.html' %} {% block body %}{% load static %}

<!-- about page about section -->
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
                    <h3 class="title-left mx-0">
                        Our VRS founded in 2023 to introduce the new level of VRS services. We are still dedicated to the success of our clients.
                    </h3>
                    <p class="mt-md-4 mt-3">

                    </p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="{% url 'about' %}">
            Learn More</a
          >
        </div>
        <div class="col-lg-5">
          <div class="position-relative">
            <img
              src="assets/images/about.jpg"
              alt=""
              class="radius-image img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //about page about section -->
<!-- /mobile section --->
<section class="w3l-mobile-content-6 py-5">
  <div class="mobile-info py-lg-5 py-md-4 py-2">
    <!-- /mobile-info-->
    <div class="container">
      <h6 class="title-small text-center">Features and advantages</h6>
      <h3 class="title-big mb-5 text-center">Best Vehicle recognition system</h3>
      <div class="row mobile-info-inn mx-lg-0">
        <div class="col-lg-4 mobile-right text-right">
          <div class="row mobile-right-grids mb-lg-5 mb-4">
            <div class="col-10 mobile-right-info">
              <h6><a href="{% url 'vrshome' %}">VRS application</a></h6>
                    <p>
                        Instant access to your account on any device using our web application.
                    </p>
                </div>
                <div class="col-2 mobile-right-icon">
                    <div class="mobile-icon">
                        <span class="fa fa-mobile"></span>
                    </div>
                </div>
            </div>
            <div class="row mobile-right-grids mb-lg-5 mb-4">
                <div class="col-10 mobile-right-info">
                    <h6><a href="#url">Family Programs</a></h6>
                    <p>
                        You can enter hear you gest vehicle no.
                    </p>
                </div>
                <div class="col-2 mobile-right-icon">
                    <div class="mobile-icon">
                        <span class="fa fa-users"></span>
                    </div>
                </div>
            </div>
            <div class="row mobile-right-grids">
                <div class="col-10 mobile-right-info">
                    <h6>
                        <a href="#url"> </a>
                    </h6>
                    <p>

                    </p>
                </div>
                <div class="col-2 mobile-right-icon">
                    <div class="mobile-icon">
                        <span class="fa fa-"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mobile-left px-lg-5">
            <img src="assets/images/mobile.png" class="img-fluid radius-image" alt="" />
        </div>
        <div class="col-lg-4 mobile-right">
            <div class="row mobile-right-grids mb-lg-5 mb-4">
                <div class="col-2 mobile-right-icon">
                    <div class="mobile-icon">
                        <span class="fa fa-user"></span>
                    </div>
                </div>
                <div class="col-10 mobile-right-info">
                    <h6><a href="#url">Personal Profile</a></h6>
                    <p>
                        Register your free personal profile online to begin using our services.
                    </p>
                </div>
            </div>
            <div class="row mobile-right-grids mb-lg-5 mb-4">
                <div class="col-2 mobile-right-icon">
                    <div class="mobile-icon">
                        <span class="fa fa-cogs"></span>
                    </div>
                </div>
                <div class="col-10 mobile-right-info">
                    <h6><a href="#url">Easy Account Setup</a></h6>
                    <p>
                        Registered clients can edit the account settings in 2 clicks.
                    </p>
                </div>
            </div>
            <div class="row mobile-right-grids">
                <div class="col-2 mobile-right-icon">
                    <div class="mobile-icon">
                        <span class="fa fa-"></span>
                    </div>
                </div>
                <div class="col-10 mobile-right-info">
                    <h6>
                        <a href="#url"></a>
                    </h6>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="text-center">
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#book"> View more advanced features</a>
            </div> -->
    </div>
    <!-- //mobile-info-->
    </div>
</section>
<!-- //mobile section --->
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="advantages">
    <div class="container py-lg-5 py-md-4 py-2">
        <h6 class="title-small text-center">Our Services</h6>
        <h3 class="title-big mb-md-5 mb-4 text-center">Advantages and Details</h3>
        <div class="grids-area-hny main-cont-wthree-fea row pt-3">
            <div class="col-lg-3 ceo-text mb-lg-0 mb-4">
                <div class="">
                    <span class="fa fa-quote-left"></span>
                    <p>

                    </p>
                    <div class="author align-items-center mt-4 mb-1">
                        <div class="img-circle">
                            <img src="assets/images/team2.jpg" class="mr-3 img-fluid" alt="..." />
                        </div>
                        <div class="author-info">
                            <a href="#author">Maxwell ker</a> <br />
                            <span class="meta-value">Feb 15, 2023 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-laptop"></span>
                    <h4><a href="{% url 'services' %}" class="title-head">Vehicle report</a></h4>
                    <p>
                        How many types of vehicles are entered and exited ___.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-envelope-open-o"></span>
                    <h4><a href="{% url 'contact' %}" class="title-head">Text message service </a></h4>
                    <p>
                        text message goes to vehicle owner and also to the visitor to whome vehicle owner will report.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-trophy "></span>
                    <h4><a href="#feature" class="title-head">VRS goal</a></h4>
                    <p>
                        our goal is to trace each and every vehicle coming in or going out of the premises and the intension of visit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- section -->
<section class="w3l-statistics" id="statistical">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <h6 class="title-small text-center"></h6>
            <h3 class="title-big mb-md-5 mb-4 text-center">
                Statistical information
            </h3>
            <div class="row">
                <div class="col-lg-4 align-self w3l-progressblock pr-lg-4">
                    <p class="mb-4">
                        our VRS system has helped many big corporation buildings parking eg, Banks, Cinema, Restaurant, Universities, Industries etc.. and also worked for residential parking purposes at apartments, private residential societies etc..
                    </p>
                    <div class="progress-info info1">
                        <h6 class="progress-tittle">
                            vehicle tracing accuracy<span class="">96%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">
                            Online Bank cards <span class="">95%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info info3">
                        <h6 class="progress-tittle">
                            Online reporting <span class="">90%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info info4">
                        <h6 class="progress-tittle">
                            Online banking <span class="">75%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info info2 mb-0">
                        <h6 class="progress-tittle">
                            24/7 support <span class="">95%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5 align-self">
                    <div class="position-relative">
                        <div class="progress-circles">
                            <div class="circle1">
                                <div id="progress" data-dimension="170" data-text="65%" data-fontsize="30" data-percent="65" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15" data-bordersize="5" data-animationstep="2"></div>

                            </div>
                            <div class="circle1">
                                <div id="progress1" data-dimension="170" data-text="75%" data-fontsize="30" data-percent="75" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15" data-bordersize="5" data-animationstep="2"></div>

                            </div>
                            <div class="circle1">
                                <div id="progress2" data-dimension="170" data-text="90%" data-fontsize="30" data-percent="90" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15" data-bordersize="5" data-animationstep="2"></div>

                            </div>
                            <div class="circle1">
                                <div id="progress3" data-dimension="170" data-text="100%" data-fontsize="30" data-percent="100" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15" data-bordersize="5" data-animationstep="2"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4">
                    <img src="assets/images/stats.jpg" alt="" class="radius-image img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // about section -->
<!-- forms -->
<section class="w3l-forms-9 py-5">
    <div class="container py-lg-3">
        <div class="row align-items-center">
            <div class="main-midd col-lg-7 text-lg-right">
                <h4 class="title-big">Get your VRS system now</h4>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-4">
                <a class="btn btn-style btn-dark" href="{% url 'signup' %}"> Register now</a>
            </div>
        </div>
    </div>
</section>
<!-- //forms -->
<div class="w3l-ordercard py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-big mb-5 text-center">How to get Registered</h3>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6">
                <div class="work-grids">
                    <div class="icon">
                        <a class="fa fa-sign-in" href="{% url 'signup' %}"></a>
                    </div>
                    <div class="content">
                        <h4 class="title">Online Registration</h4>
                        <p class="desc">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-file-text-o"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Filling Out a Form</h4>
                        <p class="desc">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-pencil"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Signing an Agreement</h4>
                        <p class="desc">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-credit-card"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Use the System</h4>
                        <p class="desc">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  News section -->
<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Latest blog posts</h3>
            <div class="row mt-lg-5 mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#blog-single" class="d-block zoom"><img src="assets/images/blog1.jpg" alt="" class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <h4>
                                <a href="{% url 'signup' %}">register of vehicle and best recognition</a
                >
              </h4>
              <p class="date">
                <span class="fa fa-calendar mr-2"></span> April 17, 2023
              </p>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
          <div class="grids5-info">
            <a href="#blog-single" class="d-block zoom"
              ><img
                src="assets/images/blog2.jpg"
                alt=""
                class="img-fluid news-image"
            /></a>
                                <div class="blog-info">
                                    <h4>
                                        <a href="{% url 'about' %}"> best service from our web application  </a>
                                    </h4>
                                    <p class="date">
                                        <span class="fa fa-calendar mr-2"></span> April 17, 2023
                                    </p>
                                    <p>

                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#blog-single" class="d-block zoom"><img src="assets/images/blog3.jpg" alt="" class="img-fluid news-image" /></a>
                            <div class="blog-info">
                                <h4>
                                    <a href="#blog-single"> Our application give update weekly</a
                >
              </h4>
              <p class="date">
                <span class="fa fa-calendar mr-2"></span> April 17, 2023
              </p>
              <p>
               
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#blog"
          >View all blog posts</a
        >
      </div>
    </div>
  </section>
</div>
<!--  //News section -->
{% include 'footer.html' %}
</body>
</html>
{% endblock %}