{% block body %}{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <title>VRS Login From</title>
    <link rel="stylesheet" href="{% static 'css/signupform.css' %}" />
</head>

<body>
    <div class="container">
        <h1>LOG IN</h1>

        <form action="#" method="POST">
            {% csrf_token %}
            <div class="tbox">
                <input type="text" name="lemail" placeholder="email" />
            </div>

            <div class="tbox">
                <input type="password" name="lpass" placeholder="password" />
            </div>

            <input class="btn" type="submit" value="SUBMIT" />
            <a class="b2" href="{% url 'signup' %}">CREATE AN ACCOUNT</a>
        </form>
    </div>
</body>
{% ifequal error "NO" %}
<script type="text/javascript">
    alert("User logged in");
    window.location = "{% url 'index' %}";
</script>
{% endifequal %} {% ifequal error "YES" %}
<script type="text/javascript">
    alert("Cannot login user, please try again");
    window.location = "{% url 'login' %}";
</script>
{% endifequal %}

</html>
{% endblock %}